@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{


}
<a href="~/Home/Index/?id=zh-cn">中文</a>  <a href="~/Home/Index/?id=en-us">英文</a>
<h3>@ViewBag.MessageOne</h3>
<h2>@ViewBag.MessageTwo</h2>
<h1>@Html.Raw(ViewBag.MessageThree)</h1>
<h3>@T("test1")</h3>
<h2>@T("test2",T("test"))</h2>
<h1>@Html.Raw(T("test3",T("test")))</h1>